<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>IST Secretariats</title>
</head>
<body>

<h1> Secretariats</h1>

Here you can find informations about the secretariats in IST.


<h2> Search Menu</h2>

Please enter the secretariat ID you are looking for:

<form action="/secretariats/query" method="get">

    ID:    <input type="text" name="ID"><br>

    <input type="submit">

</form>
</body>
</html>
