<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>IST Canteen</title>
</head>
<body>

<h1> Rooms</h1>

Here you can find informations about the rooms in IST. Namely their locations and events.


<h2> Search Menu</h2>

Please enter the room ID you are looking for:

<form action="/rooms/query" method="get">

    ID:    <input type="text" name="ID"><br>

    <input type="submit">

</form>
</body>
</html>
